app/__pycache__/*
flaskr/__pycache__/*
.env
app/__pycache__/routes.cpython-312.pyc
app/__pycache__/routes.cpython-312.pyc
.vscode/*
tests/__pycache__/test_scraper.cpython-312-pytest-7.4.4.pyc
modified_page.html
raw_recipe_page.html
